<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendors/autoload.php">
    <php>
        <ini name="memory_limit" value="-1"/>
    </php>
    <php>
        <ini name="error_reporting" value="0"/>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".ctp">app/Plugin/Registrations</directory>
            <directory suffix=".php">app/Plugin/Registrations</directory>
            <exclude>
                <directory suffix=".php">app/Plugin/Registrations/Config/Migration</directory>
                <directory suffix=".php">app/Plugin/Registrations/Config/Schema</directory>
                <directory suffix=".php">app/Plugin/Registrations/Test/Case</directory>
                <directory suffix=".php">app/Plugin/Registrations/Test/Fixture</directory>
                <directory suffix=".php">app/Plugin/Registrations/Test/test_app</directory>
                <directory suffix=".php">app/Plugin/Registrations/TestSuite</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
